<?xml version="1.0" encoding="ISO-8859-1"?>

<!--
web.xml for a release build of the WebLogic Server Administration Console

Copyright (c) 2004,2009,2010 Oracle and/or its affiliates. All rights reserved.
-->

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
  version="2.4">
  
  <display-name>WebLogic Console</display-name>
  <description>WebLogic Console Web Application</description>

  <context-param>
    <param-name>ignore-tokenized-ports</param-name>
    <param-value>true</param-value>
  </context-param>
  
  <filter>
    <filter-name>HTMLContentFilter</filter-name>
    <filter-class>com.bea.console.internal.HTMLContentFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>HTMLContentFilter</filter-name>
    <url-pattern>/dashboard</url-pattern>
  </filter-mapping>

  <!--
  Added custom error page due to async servlet init
  feature, this way the user doesn't get a 503 browser error
  page
  -->
  
  <error-page>
    <error-code>404</error-code>
    <location>/errors/404.jsp</location>
  </error-page>
  
  <error-page>
    <error-code>500</error-code>
    <location>/errors/500.jsp</location>
  </error-page>
  
  <error-page>
    <error-code>503</error-code>
    <location>/errors/503.jsp</location>
  </error-page>
  
  <!-- Resource Servlet -->
  <servlet>
    <servlet-name>ResourceServlet</servlet-name>
    <servlet-class>com.bea.console.resources.ConsoleResourceServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <!-- I18n Servlet -->
  <servlet>
    <servlet-name>I18nServlet</servlet-name>
    <servlet-class>com.bea.console.ui.I18nServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <!-- NetUIx Servlet -->
  <servlet>
    <servlet-name>AppManagerServlet</servlet-name>
    <servlet-class>weblogic.servlet.AsyncInitServlet</servlet-class>
    
    <init-param>
      <param-name>weblogic.servlet.AsyncInitServlet.servlet-class-name</param-name>
      <param-value>com.bea.console.utils.MBeanUtilsInitSingleFileServlet</param-value>
    </init-param>
    
    <init-param>
        <param-name>wl-dispatch-policy</param-name>
        <param-value>consoleWorkManager</param-value>
    </init-param>

    <load-on-startup>1</load-on-startup>
    
  </servlet>
  
  <!-- Action Servlet Configuration -->
  <servlet>
    <servlet-name>action</servlet-name>
    <servlet-class>weblogic.servlet.AsyncInitServlet</servlet-class>
    
    <!-- Keep the default module registered -->
    <init-param>
      <param-name>config</param-name>
      <param-value>/WEB-INF/struts-config.xml</param-value>
    </init-param>
    
    <init-param>
      <param-name>debug</param-name>
      <param-value>2</param-value>
    </init-param>
    <init-param>
      <param-name>detail</param-name>
      <param-value>2</param-value>
    </init-param>
    <init-param>
      <param-name>validate</param-name>
      <param-value>true</param-value>
    </init-param>
    
    <init-param>
      <param-name>weblogic.servlet.AsyncInitServlet.servlet-class-name</param-name>
      <param-value>com.bea.console.internal.ConsoleActionServlet</param-value>
    </init-param>
    
    <init-param>
        <param-name>wl-dispatch-policy</param-name>
        <param-value>consoleWorkManager</param-value>
    </init-param>
    
    <load-on-startup>2</load-on-startup>
    
  </servlet>
  
  <!--
  
  We need to make explicit mappings to JSPClassServlet so
  that precompiled JSPs work. 
  
  -->
  
  <servlet>
    <servlet-name>JSPCServlet</servlet-name>
    <servlet-class>weblogic.servlet.JSPClassServlet</servlet-class>
    <init-param>
        <param-name>wl-dispatch-policy</param-name>
        <param-value>consoleWorkManager</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet>
    <servlet-name>FileDefault</servlet-name>
    <servlet-class>weblogic.servlet.FileServlet</servlet-class>
    <init-param>
        <param-name>wl-dispatch-policy</param-name>
        <param-value>consoleWorkManager</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>JSPCServlet</servlet-name>
    <url-pattern>/jsp/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>JSPCServlet</servlet-name>
    <url-pattern>/login/*</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>FileDefault</servlet-name>
    <url-pattern>/framework/skeletons/wlsconsole/js/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>FileDefault</servlet-name>
    <url-pattern>/framework/skeletons/wlsconsole/css/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>JSPCServlet</servlet-name>
    <url-pattern>/framework/skeletons/wlsconsole/*</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>JSPCServlet</servlet-name>
    <url-pattern>/framework/features/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>JSPCServlet</servlet-name>
    <url-pattern>/common/*</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>JSPCServlet</servlet-name>
    <url-pattern>/index.jsp</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>JSPCServlet</servlet-name>
    <url-pattern>/errors/404.jsp</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>JSPCServlet</servlet-name>
    <url-pattern>/errors/500.jsp</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>JSPCServlet</servlet-name>
    <url-pattern>/errors/503.jsp</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>JSPCServlet</servlet-name>
    <url-pattern>/layouts/*</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>JSPCServlet</servlet-name>
    <url-pattern>/framework/skeletons/default/*</url-pattern>
  </servlet-mapping>

  <!-- Resource Servlet Mapping -->
  <servlet-mapping>
    <servlet-name>ResourceServlet</servlet-name>
    <url-pattern>/data/*</url-pattern>
  </servlet-mapping>

  <!-- I18n Servlet Mapping -->
  <servlet-mapping>
    <servlet-name>I18nServlet</servlet-name>
    <url-pattern>/i18n/*</url-pattern>
  </servlet-mapping>

  <!-- NetUIx Servlet Mapping -->
  <servlet-mapping>
    <servlet-name>AppManagerServlet</servlet-name>
    <url-pattern>/appmanager/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AppManagerServlet</servlet-name>
    <url-pattern>*.portlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AppManagerServlet</servlet-name>
    <url-pattern>*.portion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AppManagerServlet</servlet-name>
    <url-pattern>*.portal</url-pattern>
  </servlet-mapping>
  
  <!-- Action Servlet Mapping -->
  <servlet-mapping>
    <servlet-name>action</servlet-name>
    <url-pattern>*.jpf</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>action</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  
  <listener>
    <listener-class>com.bea.console.utils.ConsoleRequestListener</listener-class>
  </listener>

  <mime-mapping>
    <extension>js</extension>
    <mime-type>text/javascript</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>png</extension>
    <mime-type>image/png</mime-type>
  </mime-mapping>

  <!-- The Welcome File List -->
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- Struts Tag Library Descriptors -->
  <jsp-config>
    <taglib>
      <taglib-uri>http://struts.apache.org/tags-bean</taglib-uri>
      <taglib-location>/WEB-INF/lib/struts.jar</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://struts.apache.org/tags-html</taglib-uri>
      <taglib-location>/WEB-INF/lib/struts.jar</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://struts.apache.org/tags-logic</taglib-uri>
      <taglib-location>/WEB-INF/lib/struts.jar</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://struts.apache.org/tags-tiles</taglib-uri>
      <taglib-location>/WEB-INF/lib/struts.jar</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jsp/jstl/core</taglib-uri>
      <taglib-location>/WEB-INF/lib/standard.jar</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jsp/jstl/fmt</taglib-uri>
      <taglib-location>/WEB-INF/lib/standard.jar</taglib-location>
    </taglib>
    <!-- Define the NetUI tag library TLDs -->
    <taglib>
      <taglib-uri>http://beehive.apache.org/netui/tags-html-1.0</taglib-uri>
      <taglib-location>/WEB-INF/lib/beehive-netui-tags.jar</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>
        http://beehive.apache.org/netui/tags-databinding-1.0</taglib-uri>
      <taglib-location>/WEB-INF/lib/beehive-netui-tags.jar</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://beehive.apache.org/netui/tags-template-1.0</taglib-uri>
      <taglib-location>/WEB-INF/lib/beehive-netui-tags.jar</taglib-location>
    </taglib>
    <!-- Define the netuix tag library tld -->
    <taglib>
      <taglib-uri>
        http://www.bea.com/servers/netuix/xsd/controls/netuix/1.0.0</taglib-uri>
      <taglib-location>/WEB-INF/lib/netuix_taglib.jar</taglib-location>
    </taglib>
    <!-- Define the html tag library tld -->
    <taglib>
      <taglib-uri>
        http://www.w3.org/1999/xhtml-netuix-modified/1.0.0</taglib-uri>
      <taglib-location>/WEB-INF/lib/html_taglib.jar</taglib-location>
    </taglib>
    <!-- Skeleton Tag Library Descriptor -->
    <taglib>
        <taglib-uri>http://www.bea.com/servers/portal/tags/netuix/skeleton</taglib-uri>
        <taglib-location>/WEB-INF/lib/skeleton_taglib.jar</taglib-location>
    </taglib>
    <!-- Render Control Tag Library Descriptor -->
    <taglib>
      <taglib-uri>render.tld</taglib-uri>
      <taglib-location>/WEB-INF/lib/render_taglib.jar</taglib-location>
    </taglib>
    <!-- Localization Tag Library Descriptor -->
    <taglib>
      <taglib-uri>l10n.tld</taglib-uri>
      <taglib-location>/WEB-INF/lib/l10n_taglib.jar</taglib-location>
    </taglib>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <page-encoding>UTF-8</page-encoding>
    </jsp-property-group>
  </jsp-config>
  
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>console</web-resource-name>
      <url-pattern>/</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>Admin</role-name>
      <role-name>Operator</role-name>
      <role-name>Deployer</role-name>
      <role-name>Monitor</role-name>
    </auth-constraint>
  </security-constraint>
  
  <!-- Static resources that don't need protection -->
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>images</web-resource-name>
      <url-pattern>/images/*</url-pattern>
    </web-resource-collection>
    <web-resource-collection>
      <web-resource-name>common</web-resource-name>
      <url-pattern>/common/*</url-pattern>
    </web-resource-collection>
    <web-resource-collection>
      <web-resource-name>css</web-resource-name>
      <url-pattern>/css/*</url-pattern>
      <url-pattern>/framework/skeletons/wlsconsole/css/*</url-pattern>
      <url-pattern>/framework/skeletons/wlsconsole/js/*</url-pattern>
      <url-pattern>/framework/skins/wlsconsole/css/*</url-pattern>
      <url-pattern>/framework/skins/wlsconsole/images/*</url-pattern>
    </web-resource-collection>
  </security-constraint>

   <security-constraint>
    <web-resource-collection>
      <web-resource-name>helpsets</web-resource-name>
      <url-pattern>/bea-helpsets/*</url-pattern>
    </web-resource-collection>
  </security-constraint>
  
  <login-config>
    <auth-method>CLIENT-CERT,FORM</auth-method>
    <form-login-config>
      <form-login-page>/login/LoginForm.jsp</form-login-page>
      <form-error-page>/login/LoginError.jsp</form-error-page>
    </form-login-config>
  </login-config>
  
  <security-role>
    <role-name>Admin</role-name>
  </security-role>
  
  <security-role>
    <role-name>Operator</role-name>
  </security-role>
  
  <security-role>
    <role-name>Deployer</role-name>
  </security-role>
  
  <security-role>
    <role-name>Monitor</role-name>
  </security-role>
  
</web-app>
