<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
  version="2.4">

  <display-name>WebLogic Server Administration Console Help</display-name>
  <description>BEA Help Web Application</description>

 <context-param>
   <param-name>HelpSetName</param-name>
   <param-value>consolehelp.hs</param-value>
 </context-param>


  <error-page>
    <error-code>404</error-code>
    <location>/jsp/errors/404.jsp</location>
  </error-page>

  <error-page>
    <error-code>500</error-code>
    <location>/jsp/errors/500.jsp</location>
  </error-page>

  <error-page>
    <error-code>503</error-code>
    <location>/jsp/errors/503.jsp</location>
  </error-page>


<!-- NetUIx Servlet -->
 <servlet>
    <servlet-name>AppManagerServlet</servlet-name>
    <servlet-class>weblogic.servlet.AsyncInitServlet</servlet-class>
    <init-param>
      <param-name>weblogic.servlet.AsyncInitServlet.servlet-class-name</param-name>
      <param-value>com.bea.help.utils.HelpSingleFileServlet</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>

   <!-- Portal Framework depends on the Page Flow Action Servlet -->
  <servlet>
    <servlet-name>portalDependencyServlet</servlet-name>
    <servlet-class>weblogic.servlet.AsyncInitServlet</servlet-class>
    <init-param>
      <param-name>debug</param-name>
      <param-value>2</param-value>
    </init-param>
    <init-param>
      <param-name>detail</param-name>
      <param-value>2</param-value>
    </init-param>
    <init-param>
      <param-name>validate</param-name>
      <param-value>true</param-value>
    </init-param>

    <init-param>
      <param-name>weblogic.servlet.AsyncInitServlet.servlet-class-name</param-name>
      <param-value>org.apache.beehive.netui.pageflow.PageFlowActionServlet</param-value>
    </init-param>

    <load-on-startup>2</load-on-startup>

  </servlet>

  <servlet>
    <servlet-name>JSPCServlet</servlet-name>
    <servlet-class>weblogic.servlet.JSPClassServlet</servlet-class>
    <init-param>
        <param-name>wl-dispatch-policy</param-name>
        <param-value>consoleWorkManager</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet>
    <servlet-name>FileDefault</servlet-name>
    <servlet-class>weblogic.servlet.FileServlet</servlet-class>
    <init-param>
        <param-name>wl-dispatch-policy</param-name>
        <param-value>consoleWorkManager</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <!-- NetUIx Servlet Mapping -->
  <servlet-mapping>
    <servlet-name>AppManagerServlet</servlet-name>
    <url-pattern>/appmanager/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AppManagerServlet</servlet-name>
    <url-pattern>*.portlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AppManagerServlet</servlet-name>
    <url-pattern>*.portion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AppManagerServlet</servlet-name>
    <url-pattern>*.portal</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>JSPCServlet</servlet-name>
    <url-pattern>/jsp/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>JSPCServlet</servlet-name>
    <url-pattern>/framework/skeletons/console/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>FileDefault</servlet-name>
    <url-pattern>/framework/skeletons/console/js/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>FileDefault</servlet-name>
    <url-pattern>/framework/skeletons/console/css/*</url-pattern>
  </servlet-mapping>

   <!--  Listener to initialize the JavaHelp ServletHelpBroker and 
        merge help sets. -->
  <listener>
     <listener-class>com.bea.help.lifecycle.InitServletHelpBroker</listener-class>
  </listener>

<jsp-config>
    <taglib>
        <taglib-uri>jhlib.tld</taglib-uri>
        <taglib-location>/WEB-INF/lib/jhall.jar</taglib-location>
    </taglib>
     <taglib>
        <taglib-uri>render.tld</taglib-uri>
        <taglib-location>/WEB-INF/lib/render_taglib.jar</taglib-location>
    </taglib>
    <taglib>
        <taglib-uri>http://struts.apache.org/tags-bean</taglib-uri>
        <taglib-location>/WEB-INF/lib/struts.jar</taglib-location>
    </taglib>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <page-encoding>UTF-8</page-encoding>
    </jsp-property-group>
</jsp-config>

  <!-- Static resources that don't need protection -->
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>images</web-resource-name>
      <url-pattern>/images/*</url-pattern>
    </web-resource-collection>
    <web-resource-collection>
      <web-resource-name>stylesheets</web-resource-name>
      <url-pattern>/*.css</url-pattern>
    </web-resource-collection>
    <web-resource-collection>
      <web-resource-name>css</web-resource-name>
      <url-pattern>/css/*</url-pattern>
      <url-pattern>/framework/skeletons/console/css/*</url-pattern>
      <url-pattern>/framework/skeletons/console/js/*</url-pattern>
      <url-pattern>/framework/skins/console/css/*</url-pattern>
      <url-pattern>/framework/skins/console/images/*</url-pattern>
    </web-resource-collection>
    <web-resource-collection>
      <web-resource-name>helpset file</web-resource-name>
      <url-pattern>/*.hs</url-pattern>
    </web-resource-collection>
  </security-constraint>
<!--
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>help pages</web-resource-name>
      <url-pattern>*.html</url-pattern>
    </web-resource-collection>
    <auth-constraint>
    </auth-constraint>
  </security-constraint>
-->

</web-app>
